{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<form>

</form>
{#{% for student in enrolledStudents %}#}
{#    <p>{{ student }}: {{ studentsDictionary|get_item:student }}</p>#}
{#{% endfor %}#}
{{ courseId }}
<form action="/assign_grades_for_course/" method="post">
        {% csrf_token %}
        {% for student in enrolledStudents %}
            <label for="id_grade_{{ student }}">{{ student }}:</label>
            <input type="text" id="id_grade_{{ student }}" name="grade_{{ student }}" value="{{ studentsDictionary|get_item:student }}"><br>
        {% endfor %}
        <input type="hidden" name="courseId" value="{{ courseId }}">

        <button type="submit">Update Grades</button>
    </form>
</body>
</html>