

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("6.jpg");
  background-size: cover;
}

.container {
  width: 300px;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #1877f2;
  margin-bottom: 20px;
}

h5 {
  color: red;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 8px;
  border-radius: 7px;
  background-color: #1877f2;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

p {
  margin: 5px 0;
}

a {
  color: #1877f2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #166fe5;
}
